<div class="card">
  <div class="card-header">
    {{title}}
    Posted by
    {{user.username}}
    on
    {{format_date created_at}}
  </div>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</div>

{{!-- <article class="post">
  <div class="title">
    <h5>{{title}}
      by
      {{user.username}}
      on
      {{format_date created_at}}
      </h5>
  </div>
  <div class="meta">
    {{content}}
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article> --}}